@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2b2e34;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Nunito Sans", sans-serif;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}
.logo{
     padding: 0px 20px 0px 0px;
     width: 400px;
}
.logo a {
  text-decoration: none;
  font-size: 25px;
  color: #00c2ff;
}
.logo span {
  color: #0075ff;
}

nav .nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 60px;
}

nav .nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 19px;
  font-weight: 600;
}
.nav-links li a:hover {
  color: #00c2ff;
}

.hero_text {
  text-align: center;
  padding-top: 120px;
}

.hero_text h1 {
  color: white;
  font-size: 45px;
  font-weight: 600;
  padding-bottom: 10px;
}

.hero_text p {
  color: #afc0e2;
  font-size: 20px;
  font-weight: 400;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 180px;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-color: #0d1423;
  cursor: pointer;
}

.card:hover{
  background-color: #00c3ff66;
}

.card img {
  margin-top: -20px;
  margin-bottom: 40px;
}
.hero .bgbottom img {
  margin-top: 100px;
  width: 100%;
}

.burger {
  display: none;
  cursor: pointer;
}

.menu {
  display: none;
}

@media (max-width: 990px) {
  .container {
    max-width: 90%;
  }
  .card1 {
    width: 100%;
    flex-direction: column;
    margin-bottom: 80px;
  }
}

@media (max-width: 447px) {
  .container {
    max-width: 90%;
  }
  nav .nav-links {
    display: none;
  }

  .hero_text {
    padding-top: 20px;
  }

  .hero_text h1 {
    font-size: 30px;
  }
  .hero_text p {
    font-size: 16px;
  }
  .burger {
    display: block;
    position: relative;
  }

  .card {
    width: 100%;
  }
  .card2 {
    margin-bottom: 80px;
  }
  .hero{
     position: relative;
  }
}
